---
import Layout from "../layouts/Layout.astro";
import { contactPageContent } from "../config";
import SocialLinkBox from "../components/SocialLinkBox.astro";
import MailForm from "../components/MailForm.astro";
---

<Layout seo={contactPageContent.seo}>
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-1">Contacto</h1>
    <p class="opacity-60 mb-10">{contactPageContent.subtitle}</p>
  </section>
  <section class="place-content-center max-w-2xl mx-auto px-6 sm:gap-10">
    <MailForm/>
  </section>
  <section class="mt-20 max-w-2xl mx-auto px-6 ">
    <p class="opacity-60 mb-10">Mis Redes</p>
    <div>
      <div class="grid grid-cols-2 gap-2 group ">
        {
          contactPageContent.links.map((link) => (
            <SocialLinkBox {...link} />
          ))
        }
      </div>
    </div>
  </section>
</Layout>
