---
import Layout from "../layouts/Layout.astro";
import { musicalProjectsPageContent } from "../config";
import ProjectCard from "../components/MusicProjectCard.astro";
---

<Layout seo={musicalProjectsPageContent.seo}>
  <section class="mt-10 max-w-2xl mx-auto px-6">
    <h1 class="font-bold text-3xl mb-1">Proyectos musicales</h1>
    <p class="opacity-60 mb-10">{musicalProjectsPageContent.subtitle}</p>
    <div class="grid grid-cols-1 group">
      {
        musicalProjectsPageContent.projects.map((project) => (
          <ProjectCard {...project} />
        ))
      }
    </div>
  </section>
</Layout>
