---
import { Icon } from "astro-icon/components";
interface Props {
  text: string;
  href: string;
  external?: boolean;
  noAnchor?: boolean;
}

const { text, href, external, noAnchor } = Astro.props;
---

{
  !noAnchor ? (
    <a
      href={href}
      target={external ? "_blank" : "_self"}
      class="text-link flex items-center gap-2"
    >
      <div class="rotate-45">
        <Icon name="mdi:arrow-up" />
      </div>
      <span>{text}</span>
    </a>
  ) : (
    <div class="muted flex items-center gap-2">
      <div class="rotate-45">
        <Icon name="mdi:arrow-up" />
      </div>
      <span>{text}</span>
    </div>
  )
}
