---
import type { SocialLink } from "../types/config";

type Props = SocialLink;

const { title, url, icon, external } = Astro.props;
---

<a
  href={url}
  class="opacity-100 hover:opacity-80 hover:line-through transition-opacity"
  target={external ? "_blank" : "_self"}
  rel={external ? "noopener noreferrer" : undefined}
>
  {title}
</a>
