---
import { Icon } from "astro-icon/components";
import type { SocialLink } from "../types/config";

type Props = SocialLink;

const { title, url, icon, external } = Astro.props;
---
<a
  href={url}
  class="text-link flex items-center gap-3 border-t border-[var(--line)] py-4"
  target={external ? "_blank" : "_self"}
  rel={external ? "noopener noreferrer" : undefined}
>
  <Icon name={icon} width={22} height={22} />
  <div class="flex items-center justify-between w-full">
    <p>{title}</p>
    <div class="rotate-45">
      <Icon name="mdi:arrow-up" />
    </div>
  </div>
</a>
