---
import type { SocialLink } from "../types/config";

type Props = SocialLink;

const { title, url, external } = Astro.props;
---

<a
  href={url}
  class="text-link"
  target={external ? "_blank" : "_self"}
  rel={external ? "noopener noreferrer" : undefined}
>
  {title}
</a>
